<div class="navbar-container">
    <h1><a href="/">Games Catalog</a></h1>
    <nav>
        <div class="nav-item">
            <NavLink class="nav-link" href="/editgame" Match="NavLinkMatch.All">New Game</NavLink>
        </div>
    </nav>
</div>

@code {

}
